@model IEnumerable<ShopConnection.SANPHAM>

@foreach (var item in Model)
{
        <div class="item item-carousel">
            <div class="products">
                <div class="product">

                    <div class="product-image">
                        <div class="image">
                            <a href="@Url.Action("Index","Product",new {id=item.ID})" title="@item.Ten"><img class="img-responsive" src="/Content/images/blank.gif" data-echo="/Content/images/products/@item.HinhAnh" alt="@item.Ten"></a>
                            <div class="tag-box">
                                @if (item.LaSanPhamMoi)
                                {
                                    <div class="tag new"><span>mới</span></div>
                                }
                                @if (item.LaSanPhamHot)
                                {
                                    <div class="tag hot"><span>hot</span></div>
                                }
                                @if (item.KhuyenMai != 0)
                                {
                                    <div class="tag sale"><span>-@(item.KhuyenMai)%</span></div>
                                }
                            </div>
                        </div><!-- /.image -->
                    </div><!-- /.product-image -->

                    <div class="product-info text-left">
                        <div class="product-name-box"><h3 class="name"><a title="@item.Ten" href="@Url.Action("Index","Product",new {id=item.ID})">@item.Ten</a></h3></div>
                        <div class="rateit" data-rateit-value="@item.SoSao" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        <div class="description"></div>
                        <div class="product-price">
                            @if (item.KhuyenMai != 0)
                            {
                                <span class="price">
                                    @((item.Gia * (1 - item.KhuyenMai / 100.0)).ToString("N0"))đ
                                </span>
                                <span class="price-before-discount">@(item.Gia.ToString("N0"))đ</span>
                            }
                            else
                            {
                                <span class="price">
                                    @(item.Gia.ToString("N0"))đ
                                </span>
                            }
                        </div><!-- /.product-price -->
                    </div><!-- /.product-info -->

                    <div class="cart clearfix animate-effect">
                        <div class="action">
                            <ul class="list-unstyled">
                                <li class="add-cart-button btn-group">
                                    <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                                        <i class="fa fa-shopping-cart"></i>
                                    </button>
                                    <button class="btn btn-primary" type="button">Thêm</button>
                                </li>
                                <li class="lnk wishlist">
                                    <a class="add-to-cart" href="detail.html" title="Yêu thích">
                                        <i class="icon fa fa-heart"></i>
                                    </a>
                                </li>
                                <li class="lnk">
                                    <a class="add-to-cart" href="detail.html" title="So sánh">
                                        <i class="fa fa-retweet"></i>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.action -->
                    </div><!-- /.cart -->

                </div><!-- /.product -->
            </div><!-- /.products -->
        </div><!-- /.item -->
}
