
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var DSSPMoi = ViewBag.DSSPMoi as IEnumerable<ShopConnection.SANPHAM>;
    var DSSmartPhoneMoi = ViewBag.DSSmartPhoneMoi as IEnumerable<ShopConnection.SANPHAM>;
    var DSLaptopMoi = ViewBag.DSLaptopMoi as IEnumerable<ShopConnection.SANPHAM>;
    var DSAppleMoi = ViewBag.DSAppleMoi as IEnumerable<ShopConnection.SANPHAM>;
    var DSSPHot = ViewBag.DSSPHot as IEnumerable<ShopConnection.SANPHAM>;
    var DSBestSeller = ViewBag.DSBestSeller as IEnumerable<ShopConnection.SANPHAM>;
}

<div class="body-content" id="top-banner-and-menu">
    <!-- ========================================== SECTION – HERO ========================================= -->

    <div id="hero" class="home-page-slider4">

        <div id="owl-main" class="owl-carousel silder4 owl-inner-nav owl-ui-sm">

            <div class="item" style="background-image: url(/Content/images/sliders/2.jpg);">
                <div class="container-fluid">
                    <div class="caption vertical-center text-left">
                        <div class="big-text fadeInDown-1">
                            The new <span class="highlight">imac</span> for you
                        </div>
                        <div class="excerpt m-t-20 fadeInDown-2 hidden-xs">

                            <span>
                                21.5-Inch Now Starting At $1099 <br>
                                27-Inch Starting At $1799
                            </span>
                        </div>
                        <div class="button-holder fadeInDown-3">
                            <a href="index.php?page=single-product" class="btn btn-black btn-uppercase shop-now-button">Shop Now</a>
                        </div>
                    </div><!-- /.caption -->
                </div><!-- /.container-fluid -->
            </div><!-- /.item -->

            <div class="item" style="background-image: url(/Content/images/sliders/2.jpg);">
                <div class="container-fluid">
                    <div class="caption vertical-center text-left">
                        <div class="big-text fadeInDown-1">
                            The new <span class="highlight">imac</span> for you
                        </div>
                        <div class="excerpt m-t-20 fadeInDown-2 hidden-xs">

                            <span>
                                21.5-Inch Now Starting At $1099 <br>
                                27-Inch Starting At $1799
                            </span>
                        </div>
                        <div class="button-holder fadeInDown-3">
                            <a href="index.php?page=single-product" class="btn btn-black btn-uppercase shop-now-button">Shop Now</a>
                        </div>
                    </div><!-- /.caption -->
                </div><!-- /.container-fluid -->
            </div><!-- /.item -->

            <div class="item" style="background-image: url(/Content/images/sliders/2.jpg);">
                <div class="container-fluid">
                    <div class="caption vertical-center text-left">
                        <div class="big-text fadeInDown-1">
                            The new <span class="highlight">imac</span> for you
                        </div>
                        <div class="excerpt m-t-20 fadeInDown-2 hidden-xs">

                            <span>
                                21.5-Inch Now Starting At $1099 <br>
                                27-Inch Starting At $1799
                            </span>
                        </div>
                        <div class="button-holder fadeInDown-3">
                            <a href="index.php?page=single-product" class="btn btn-black btn-uppercase shop-now-button">Shop Now</a>
                        </div>
                    </div><!-- /.caption -->
                </div><!-- /.container-fluid -->
            </div><!-- /.item -->

            <div class="item" style="background-image: url(/Content/images/sliders/2.jpg);">
                <div class="container-fluid">
                    <div class="caption vertical-center text-left">
                        <div class="big-text fadeInDown-1">
                            The new <span class="highlight">imac</span> for you
                        </div>
                        <div class="excerpt m-t-20 fadeInDown-2 hidden-xs">

                            <span>
                                21.5-Inch Now Starting At $1099 <br>
                                27-Inch Starting At $1799
                            </span>
                        </div>
                        <div class="button-holder fadeInDown-3">
                            <a href="index.php?page=single-product" class="btn btn-black btn-uppercase shop-now-button">Shop Now</a>
                        </div>
                    </div><!-- /.caption -->
                </div><!-- /.container-fluid -->
            </div><!-- /.item -->

        </div><!-- /.owl-carousel -->

        <div class="customNavigation">
            <div class="container">
                <div class="controls clearfix hidden-xs">
                    <a href="#" data-target=".silder4" class="btn btn-primary pull-left owl-prev"><i class="fa fa-angle-left"></i></a>
                    <a href="#" data-target=".silder4" class="btn btn-primary pull-right owl-next"><i class="fa fa-angle-right"></i></a>
                </div><!-- /.controls -->
            </div>
        </div>

    </div>

    <!-- ========================================= SECTION – HERO : END ========================================= -->	
    
    <div class="container">

        <!-- ============================================== WIDE PRODUCTS ============================================== -->
        <div class="wide-banners wow fadeInUp new-banner inner-bottom-20">
            <div class="row">

                <div class="col-md-4">
                    <div class="wide-banner cnt-strip">
                        <div class="image">
                            <img class="img-responsive" data-echo="/Content/images/banners/8.jpg" src="/Content/images/blank.gif" alt="">
                        </div>
                        <div class="strip">
                            <div class="strip-inner">
                                <h3 class="white">the new iphone 6</h3>
                                <h5 class="white text-right"><span>save up to 20% off</span></h5>

                            </div>
                        </div>
                    </div><!-- /.wide-banner -->
                </div><!-- /.col -->

                <div class="col-md-4">
                    <div class="wide-banner cnt-strip">
                        <div class="image">
                            <img class="img-responsive" data-echo="/Content/images/banners/9.jpg" src="/Content/images/blank.gif" alt="">
                        </div>
                        <div class="strip">
                            <div class="strip-inner text-center">
                                <h3 class="white">new man fashion</h3>
                                <h5 class="white text-right"><span>watch phone 2.0</span></h5>
                            </div>
                        </div>
                    </div><!-- /.wide-banner -->
                </div><!-- /.col -->

                <div class="col-md-4">
                    <div class="wide-banner cnt-strip">
                        <div class="image">
                            <img class="img-responsive" data-echo="/Content/images/banners/10.jpg" src="/Content/images/blank.gif" alt="">
                        </div>
                        <div class="strip">
                            <div class="strip-inner text-center">
                                <h3 class="white">30% off sale</h3>
                                <h5 class="white text-right"><span>now in our sale</span></h5>
                            </div>
                        </div>
                    </div><!-- /.wide-banner -->
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.wide-banners -->
        <!-- ============================================== WIDE PRODUCTS : END ============================================== -->
        
        <!-- ============================================== SCROLL TABS ============================================== -->
        <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">

            <div class="more-info-tab clearfix ">
                <h3 class="new-product-title pull-left">Mới</h3>
                <ul class="nav nav-tabs nav-tab-line pull-right" id="new-products-1">
                    <li class="active"><a href="#all" data-toggle="tab">Tất cả</a></li>
                    <li><a href="#smartphone" data-toggle="tab">Smartphone</a></li>
                    <li><a href="#laptop" data-toggle="tab">Laptop</a></li>
                    <li><a href="#apple" data-toggle="tab">Apple</a></li>
                </ul><!-- /.nav-tabs -->
            </div>

            <div class="tab-content outer-top-xs">

                <div class="tab-pane in active" id="all">
                    <div class="product-slider">
                        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="5">
                            @Html.Partial("../Shared/PartialProductCarouselM", DSSPMoi)
                        </div><!-- /.home-owl-carousel -->
                    </div><!-- /.product-slider -->
                </div><!-- /.tab-pane -->
                
                <div class="tab-pane" id="smartphone">
                    <div class="product-slider">
                        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="5">
                            @Html.Partial("../Shared/PartialProductCarouselM", DSSmartPhoneMoi)
                        </div><!-- /.home-owl-carousel -->
                    </div><!-- /.product-slider -->
                </div><!-- /.tab-pane -->
                
                <div class="tab-pane" id="laptop">
                    <div class="product-slider">
                        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="5">
                            @Html.Partial("../Shared/PartialProductCarouselM", DSLaptopMoi)
                        </div><!-- /.home-owl-carousel -->
                    </div><!-- /.product-slider -->
                </div><!-- /.tab-pane -->
                
                <div class="tab-pane" id="apple">
                    <div class="product-slider">
                        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="5">
                            @Html.Partial("../Shared/PartialProductCarouselM", DSAppleMoi)
                        </div><!-- /.home-owl-carousel -->
                    </div><!-- /.product-slider -->
                </div><!-- /.tab-pane -->
            
            </div><!-- /.tab-content -->
        </div><!-- /.scroll-tabs -->
        <!-- ============================================== SCROLL TABS : END ============================================== -->
        
        <!-- ============================================== WIDE PRODUCTS ============================================== -->
        <div class="wide-banners wow fadeInUp new-banner no-margin inner-bottom-xs">
            <div class="row">

                <div class="col-md-8">
                    <div class="wide-banner cnt-strip">
                        <div class="image">
                            <img class="img-responsive" data-echo="/Content/images/banners/6.jpg" src="/Content/images/blank.gif" alt="">
                        </div>
                        <div class="strip">
                            <div class="strip-inner text-right">
                                <h5 class="white"><span>products version 2.0</span></h5>
                                <h3 class="white">new collection from apple</h3>

                            </div>
                        </div>
                    </div><!-- /.wide-banner -->
                </div><!-- /.col -->

                <div class="col-md-4">
                    <div class="wide-banner cnt-strip">
                        <div class="image">
                            <img class="img-responsive" data-echo="/Content/images/banners/7.jpg" src="/Content/images/blank.gif" alt="">
                        </div>
                        <div class="strip">
                            <div class="strip-inner text-right">
                                <h5 class="white"><span>new iphone</span></h5>
                                <h3 class="white">new trendy</h3>
                            </div>
                        </div>
                    </div><!-- /.wide-banner -->
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.wide-banners -->
        <!-- ============================================== WIDE PRODUCTS : END ============================================== -->       <!-- ============================================== FEATURED PRODUCTS ============================================== -->
        
        <!-- ============================================== FEATURE PRODUCTS ============================================== -->
        <section class="section featured-product wow fadeInUp">
            <h3 class="section-title">Nổi bật</h3>
            <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs" data-item="5">
                @Html.Partial("../Shared/PartialProductCarouselM", DSSPHot)
            </div><!-- /.home-owl-carousel -->
        </section><!-- /.section -->
        <!-- ============================================== FEATURED PRODUCTS : END ============================================== -->
        
        <!-- ============================================== WIDE PRODUCTS ============================================== -->
        <div class="wide-banners wow fadeInUp outer-bottom-vs">
            <div class="row">
                <div class="col-md-12">
                    <div class="wide-banner cnt-strip">
                        <div class="image">
                            <img data-echo="/Content/images/banners/11.jpg" src="/Content/images/blank.gif" alt="">
                        </div>
                        <div class="strip">
                            <div class="strip-inner text-right">
                                <h1>one stop place for</h1>
                                <p class="normal-shopping-needs">ALL YOUR SHOPPING NEEDS</p>
                            </div>
                        </div>
                        <div class="new-label">
                            <div class="text">NEW</div>
                        </div><!-- /.new-label -->
                    </div><!-- /.wide-banner -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.wide-banners -->
        <!-- ============================================== WIDE PRODUCTS : END ============================================== -->
        
        <!-- ============================================== BEST SELLER ============================================== -->
        <section class="section seller-product wow fadeInUp">
            <h3 class="section-title">Bán chạy</h3>
            <div class="row outer-top-xs">
                @Html.Partial("../Shared/PartialProductCarouselS", DSSPHot)
            </div>

        </section>
        <!-- ============================================== BEST SELLER : END ============================================== -->

        <!-- ============================================== BRANDS CAROUSEL ============================================== -->
        @Html.Action("PartialBrands", "Home")
        <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->

    </div><!-- /.container -->
</div><!-- /#top-banner-and-menu -->
